@import "normalize.css";
@import 'start_work';
$margin-center: 0 auto;
$font-family:'Lato', Arial, sans-serif;
$font-size: 14px;
$font-weight: 700;
$color-white: #ffffff;
$color-black: #3c3c3c;


.ba-container {
  max-width: 910px;
  margin: $margin-center;
}
